// @import "primeng/resources/themes/bootstrap4-light-blue/theme.css";

:root {
  --info: #7fd8e6;
  --success: #9fdaa8;
  --bg-theme: #393E46;
  --bg-menu: #222831;
  --bg-option: #EEEEEE;

  --bg-primary: #8dd0ff;
  --bg-secondary: #343a40;
  --bg-success: #9fdaa8;
  --bg-info: #7fd8e6;
  --bg-warning: #ffe082;
  --bg-danger: #f19ea6;
  --bg-light: #f8f9fa;
  --bg-dark: #343a40;
  --text-primary: #fff;
  --text-secondary: #6c757d;
  --text-success: #28a745;
  --text-info: #17a2b8;
  --text-warning: #ffc107;
  --text-danger: #dc3545;
  --text-light: #212529;
}