<p-toolbar styleClass="rounded-none py-2 px-2 sm:px-4 border-0 sticky top-0 z-20 bg-[var(--bg-menu)] shadow-2xl">
    <div class="p-toolbar-group-start">
      <div class="flex gap-x-2">
        @if (showSiderbar) {
          <div>
            <p-button
              icon="pi pi-bars"
              [pTooltip]="tooltipSideBar"
              tooltipPosition="bottom"
              [text]="true"
              (click)="menu()"
              styleClass="shadow-none text-[--bg-option] hover:animate-[swing_ease-in-out_0.5s_1_alternate]"
            ></p-button>
            <ng-template #tooltipSideBar>
              <div class="flex align-items-center">
                <span>{{ sidebarOpen ? 'Cerrar Menu' : 'Abrir Menu' }}</span>
              </div>
            </ng-template>
          </div>
        }
        <div class="flex items-center py-0 cursor-pointer" (click)="logo()">
          <picture class="mr-2">
            <source srcset="img/companyLogo.avif" type="image/avif">
            <img src="img/companyLogo.webp" width="50" height="50" alt="Imagen de fondo" class="block" decoding="async">
          </picture>
        </div>
      </div>
    </div>
    <div class="p-toolbar-group-end">
      <div class="flex gap-x-2 items-center">
        @if (!['xs'].includes(mediaQuery) && showNotification) {
          <div>
            <p-button
              [pTooltip]="tooltipMode"
              tooltipPosition="bottom"
              severity="info"
              [text]="true"
              (click)="op.toggle($event)"
              styleClass="shadow-none hover:animate-[swing_ease-in-out_0.5s_1_alternate]"
            >
              <!-- <ng-template pTemplate="content">
                <div class="px-1">
                  <i class="pi pi-bell text-lg" pBadge [value]="notifiers.length.toString()"></i>
                </div>
              </ng-template> -->
            </p-button>
            <ng-template #tooltipMode>
              <div class="flex align-items-center">
                <span>Notificaciones</span>
              </div>
            </ng-template>
          </div>
        }
        <div>
          <p-button
            icon="pi pi-{{ theme }}"
            [pTooltip]="tooltipMode"
            tooltipPosition="bottom"
            severity="secondary"
            [text]="true"
            (click)="changeTheme()"
            styleClass="shadow-none text-white hover:animate-[swing_ease-in-out_0.5s_1_alternate]"
          ></p-button>
          <ng-template #tooltipMode>
            <div class="flex align-items-center">
              <span>{{ theme === 'sun' ? 'Modo Claro' : 'Modo Nocturno' }}</span>
            </div>
          </ng-template>
        </div>
        @if (showLogout) {
          <div>
            <p-button
              icon="pi pi-power-off"
              [pTooltip]="tooltipLogout"
              tooltipPosition="bottom"
              severity="danger"
              [text]="true"
              (click)="logout()"
              styleClass="shadow-none hover:animate-[swing_ease-in-out_0.5s_1_both]"
            ></p-button>
            <ng-template #tooltipLogout>
              <div class="flex align-items-center">
                <span>Cerrar Sesión</span>
              </div>
            </ng-template>
          </div>
        }
      </div>
    </div>
  </p-toolbar>
  @if (['xs'].includes(mediaQuery) && showNotification) {
    <div class="fixed z-50 bottom-5 right-5 flex flex-col">
      <p-button
        [pTooltip]="tooltipMode"
        tooltipPosition="bottom"
        severity="info"
        [raised]="true"
        [rounded]="true"
        (click)="op.toggle($event)"
        styleClass="shadow-none hover:animate-[swing_ease-in-out_0.5s_1_alternate]"
      >
        <!-- <ng-template pTemplate="content">
          <div class="px-1">
            <i class="pi pi-bell text-lg" pBadge [value]="notifiers.length.toString()"></i>
          </div>
        </ng-template> -->
      </p-button>
      <ng-template #tooltipMode>
        <div class="flex align-items-center">
          <span>Notificaciones</span>
        </div>
      </ng-template>
    </div>
  }
  <p-overlayPanel #op [showCloseIcon]="true" styleClass="max-w-full" appendTo="body" >
    <!-- <p-table [value]="notifiers" selectionMode="single" [(selection)]="selectedProduct" [paginator]="true" [rows]="3" responsiveLayout="scroll"> -->
      <p-table selectionMode="single" [(selection)]="selectedProduct" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <p-divider></p-divider>
        <tr class="cursor-pointer flex items-center w-full max-h-[70vh]">
          <td class="border-none"><i class="{{ item.icon }} text-2xl text-[{{ item.color }}]"></i></td>
          <td class="border-none">
            <div class="flex flex-col">
              <span>{{ item.message }}</span>
              <span class="text-[--info] text-xs">{{ item.type }}</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-overlayPanel>