<div class="absolute w-full z-0">
  <div class="area fixed">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<div class="w-full px-4 lg:pt-8 pt-0 z-10">
  <div class="text-center grid grid-cols-12 m-0">
    <div class="col-span-12 flex justify-center pb-4">
      <p-avatar
        [label]="title[0]"
        styleClass="mr-2"
        size="xlarge"
        [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"
        shape="circle"
      ></p-avatar>
    </div>
    <span class="text-base col-span-12 p-0 font-bold text-[var(--bg-title)]">{{
      title
    }}</span>
    <span class="text-sm col-span-12 text-[var(--bg-title)]">{{ subTitle }}</span>
  </div>
  <p-divider></p-divider>
  <!-- styleClass="" -->
  <p-tree
    styleClass="sticky w-full border-0 p-0 rounded-none bg-transparent fill-[var(--bg-option)] text-[var(--bg-option)]"
    [filter]="true"
    filterPlaceholder="Busqueda de Menu"
    [value]="menus"
    [(selection)]="selectedNode"
    selectionMode="single"
    (onNodeSelect)="toggleMenu($event)"
    (onNodeUnselect)="toggleMenu($event)"
  >
  </p-tree>
</div>
